:root {
  --primary-color: #6366f1;
  --bg-dark: #242424;
  --bg-lighter: rgba(255, 255, 255, 0.05);
  --border-color: rgba(255, 255, 255, 0.1);
  --text-main: #ffffff;
  --text-muted: #9ca3af;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background: var(--bg-dark);
  height: 100vh;
  color: var(--text-main);
}




/* The parent wrapper inside main */
.container {
  width: 100%;
  height: 100%;
  display: flex;
  /* Horizontal split by default */
  overflow: hidden;
}

/* LEFT SIDE: The Prime Subject (80%) */
.left-container {
  flex: 7;
  /* Occupies 70% */
  background: var(--bg-dark);
  border-right: 1px solid var(--border-color);
}

/* RIGHT SIDE: The Sidebar (20%) */
.right-container {
  flex: 3;
  /* Occupies 30% */
  display: flex;
  flex-direction: column;
  /* Vertical stack: Result on top, Info on bottom */
}

/* Inside the Right Container */
.result-container {
  flex: 7;
  /* Occupies 70% of the right container's height */
  background: rgba(255, 255, 255, 0.02);
  border-bottom: 1px solid var(--border-color);
}

.info-container {
  flex: 3;
  /* Occupies 30% of the right container's height */
  background: var(--bg-lighter);
}